* {
    margin: 0px;
    padding: 0px;
}

div.header {
    background-color: brown;
    height: 10rem;
    margin-bottom: 2rem;
}

.first-card {
    background-color: #ffad8f7c;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

div.intro {
    margin-bottom: 1rem;
}

div.new-penpal {
    margin: 10px;
    color: blueviolet;
    font-size: larger;
    font-family: sans-serif;
}

.card {
    margin: 1rem;
}

.modal-content-message {
    height: 100%;
    border-radius: 0;
    position: relative;
}

.modal-footer-message {
    border-radius: 0;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

/* .msg-body {
    background-color: #e4dcdc;
    padding: 2rem;
} */

.msg-body {
    background-color: #e4dcdc;
    padding: 1rem;
    /* border-radius: 0px 10px 10px; */
    border-radius: 0px 20px 20px;
}

.msg-sender {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bolder;
}

.msg-content {
    margin-left: 2rem;
}

.sub-msg {
    margin: 1rem;
}

.msg-header {
    margin: 1rem;
}

.container-penpal {
    display:flex;
    align-items:center;
}

.setting {
    position: absolute;
    right: 10px;
    top: 10px;
}

.set-profile {
    position: relative;
    top: -40px;
    float: right;
}