* {
    margin: 0px;
    padding: 0px;
}

div.header {
    background-color: brown;
    height: 10rem;
    margin-bottom: 2rem;
}

.first-card {
    background-color: #ffad8f7c;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

div.intro {
    margin-bottom: 1rem;
}

div.new-penpal {
    margin: 10px;
    color: blueviolet;
    font-size: larger;
    font-family: sans-serif;
}

.card {
    margin: 1rem;
}

.modal-content {
    height: 100%;
    border-radius: 0;
    position: relative;
}

.modal-footer {
    border-radius: 0;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.msg-body {
    background-color: #e4dcdc;
    padding: 2rem;
}

.container-penpal {
    display:flex;
    align-items:center;
}