* {
    margin: 0px;
    padding: 0px;
}

div.header {
    background-color: rgb(140, 169, 248);
    height: 4rem;
    margin-bottom: 2rem;
}

.app-logo {
    font-family: 'Carter One', cursive;
    font-size: 2rem !important;
    font-style: italic;
    font-size: larger;
    color: white;
    padding-top: 5px;
    padding-left: 20px;
    font-weight: 600;
    color: rgb(4, 15, 66);
}

.card-header {
    color: white;
    background-color: rgba(71, 119, 231, 0.876) !important;
}

.btn-primary {
    background-color: rgb(10, 19, 100) !important;
}

.btn-secondary {
    color: black !important;
    background-color: rgba(222, 223, 235, 0.87) !important;
}

.card-body {
    background-color: rgb(255, 255, 255);
}

.first-card {
    background-color: #ffad8f7c;
    padding: 1.5rem;
    margin-bottom: 3rem;
    height: 23rem;
}

div.intro {
    margin-bottom: 1rem;
    font-size: 1.5rem !important;
}

div.new-penpal {
    margin: 10px;
    color: blueviolet;
    font-size: larger;
    font-family: sans-serif;
}

.card {
    margin: 1rem;
}

.modal-content-message {
    height: 100%;
    border-radius: 0;
    position: relative;
}

.modal-footer-message {
    border-radius: 0;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

/* .msg-body {
    background-color: #e4dcdc;
    padding: 2rem;
} */

.msg-body {
    background-color: #e4dcdc;
    padding: 1rem;
    /* border-radius: 0px 10px 10px; */
    border-radius: 0px 20px 20px;
}

.msg-sender {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bolder;
}

.msg-content {
    margin-left: 2rem;
}

.sub-msg {
    margin: 1rem;
}

.msg-header {
    margin: 1rem;
}

.container-penpal {
    display:flex;
    align-items:center;
}

.setting {
    position: absolute;
    border-radius: 15px;
    right: 10px;
    top: 10px;
}

.set-profile {
    position: relative;
    top: -40px;
    float: right;
}

.welcome-container {
    /* background: url('../assets/bg-welcome.jpg'); */
    background-image: linear-gradient(to bottom, rgba(7, 34, 26, 0.007), rgba(27, 46, 87, 0.73)), url("../assets/bg-welcome.jpg");
    color: white;
    text-align:center !important;
}

.welcome-row {
    margin-top: 40px !important;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 1rem;
    margin-bottom: 20px;
}